:root{
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --error-color: hsl(0, 100%, 66%);
  --active-border-color: hsl(249, 99%, 64%) , hsl(278, 94%, 30%);



}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk';
  font-size: 18px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


